services:
  # 1. Base de Datos MySQL (Para Pólizas)
  mysql-polizas:
    image: mysql:8.0
    container_name: mysql-polizas
    restart: always
    environment:
      MYSQL_DATABASE: polizas_db
      MYSQL_ROOT_PASSWORD: abcd
      MYSQL_USER: AppRoot
      MYSQL_PASSWORD: abcd
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  # 2. Base de Datos PostgreSQL (Para Clientes y Planes)
  postgres-independientes:
    image: postgres:15
    container_name: postgres-independientes
    restart: always
    environment:
      POSTGRES_DB: clientes_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: abcd
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  # 3. Microservicio Clientes (Carpeta: autor-ms)
  clientes-ms:
    build: ./autor-ms
    container_name: clientes-ms
    image: autor-ms:latest
    ports:
      - "8081:8080"
    environment:
      SERVER_PORT: 8080
      DB_HOST: postgres-independientes
      DB_PORT: 5432
      DB_NAME: clientes_db
      DB_USER: postgres
      DB_PWD: abcd
    depends_on:
      postgres-independientes:
        condition: service_healthy

  # 4. Microservicio Planes (Carpeta: test)
  planes-ms:
    build: ./test
    image: planes-ms:latest
    container_name: planes-ms
    ports:
      - "8082:8081"
    environment:
      SERVER_PORT: 8081
      DB_HOST: postgres-independientes
      DB_PORT: 5432
      DB_NAME: planes_db # Postgres permite conectar a la default y crear tablas, o usar schemas
      DB_USER: postgres
      DB_PWD: abcd
    depends_on:
      postgres-independientes:
        condition: service_healthy

  # 5. Microservicio Pólizas (Carpeta: Polina)
  polizas-ms:
    image: polizas-ms:latest
    build: ./Polina
    container_name: polizas-ms
    ports:
      - "8083:8001"
    environment:
      SERVER_PORT: 8001
      DB_HOST: mysql-polizas
      DB_PORT: 3306
      DB_NAME: polizas_db
      DB_USER: AppRoot
      DB_PWD: abcd
      # URLs para comunicar con los otros servicios (nombres de los contenedores)
      CLIENTES_URL: http://clientes-ms:8080
      PLANES_URL: http://planes-ms:8081
    depends_on:
      mysql-polizas:
        condition: service_healthy
      clientes-ms:
        condition: service_started
      planes-ms:
        condition: service_started

  # 6. Frontend Angular (Carpeta: frontend-seguros)
  frimage: frontend-seguros:latest
    ontend-app:
    build: ./frontend-seguros
    container_name: frontend-app
    ports:
      - "8080:80"
    depends_on:
      - polizas-ms
      - clientes-ms
      - planes-ms

volumes:
  mysql_data:
  postgres_data: